<!-- <form>
  <input>sdadsadadadsadad</form>
  asdsadsdasdsadsad
</form> -->



  <form (submit)="onSaveItem(postForm)" #postForm="ngForm" *ngIf="!isLoading">

      <input
        matInput
        type="text"
        name="name"
        [ngModel] = "item?.name"
        required
        minlength="3"
        placeholder="Post Title"
        #title="ngModel">

        <input
        matInput
        type="text"
        name="price"
        [ngModel] = "item?.price"
        required
        minlength="3"
        placeholder="Post Title"
        #title="ngModel">

      <textarea
        matInput
        rows="4"
        name="date"
        [ngModel] = "item?.date"
        required
        placeholder="Post Content"
        #content="ngModel"></textarea>

    <button
      mat-raised-button
      color="accent"
      type="submit">Save Post</button>
  </form>

